.container {
    text-align: center;
    background: linear-gradient(to right, #d3959b, #bfe6ba);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}